git@xkef.dev namespaces="git" ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFXPTYbJpNsexhTZ+x8Ci8tVkGV/d0MvWqFrlyT3yTki
{{ if lookPath "op" -}}
{{ onepasswordRead "op://Work/git/noreply_email" }} namespaces="git" {{ onepasswordRead "op://Work/4iwi4zirnfsx643om5beg2y5ua/public key" }}
{{ end -}}
