-- Small self-bootstrapping neovim config after
-- https://github.com/nvim-lua/kickstart.nvim. Run it with `knvim` or
-- NVIM_APPNAME=kickstart nvim.

vim.g.mapleader = {{ .keys.leader | quote }}
vim.g.maplocalleader = "\\"

-- Bootstrap lazy.nvim
local lazypath = vim.fn.stdpath("data") .. "/lazy/lazy.nvim"
if not vim.uv.fs_stat(lazypath) then
  vim.fn.system({
    "git",
    "clone",
    "--filter=blob:none",
    "https://github.com/folke/lazy.nvim.git",
    "--branch=stable",
    lazypath,
  })
end
vim.opt.rtp:prepend(lazypath)

require("lazy").setup({
  { import = "plugins" },
}, {
  install = { colorscheme = { "catppuccin" } },
  checker = { enabled = true, notify = false },
})
