# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*~

# Local overrides (not tracked)
zsh/.config/zsh/local.zsh
__pycache__/

.idea/
/zsh/.config/zsh/.zcompdump
/zsh/.config/zsh/.zsh_history
/.claude/settings.local.json
*.tmTheme
/git/.config/git/config.local
/.nvimlog
/zsh/.config/zsh/.zcompcache/brew_all_commands
*.zwc
/vcs/.config/git/delta.gitconfig
/vcs/.config/jj/repos/*
