<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>xkef.code-backup-to-t5</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/xkef/.rsync_code.sh</string>
    </array>
    <key>StartOnMount</key>
    <true/>
  </dict>
</plist>
